/* ================= SERVICES ================= */
.services {
  padding: 60px 20px;
  text-align: center;
}

.services-title {
  font-size: 34px;
  margin-bottom: 50px;
}

.services-grid {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.service-card {
  background: #161616b3;
  width: 330px;
  padding: 30px 25px;
  border-radius: 20px;
  text-align: center;
  position: relative;
  transition:
    transform 0.35s ease,
    box-shadow 0.35s ease;
}

.service-card:hover {
  transform: translateY(-12px);
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.25);
}

.service-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.5s ease;
}

.service-card:hover img {
  transform: scale(1.08);
}

.featured {
  border: 2px solid #ff6a00;
}
