/*ROOT*/
:root {
  --bg-main: #0b0b0b;
  --bg-dark: #151515;
  --primary: #ff6a00;
  --primary-hover: #ff8c1a;
  --text-main: #ffffff;
  --text-muted: #b5b5b5;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  color: var(--text-main);
  background-color: var(--bg-main);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

  /* LIGHT MODE */
body.light {
  --bg-main: #f4f4f5;
  --bg-dark: #ffffff;
  --primary: #ff6a00;
  --primary-hover: #ff8c1a;
  --text-main: #111827;
  --text-muted: #4b5563;
}

/*GLOBAL*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*TEXT*/
h1 {
  font-size: 3rem;
  line-height: 1.1;
  color: white;
}
h2,
h3,
h4 {
  color: var(--text-main);
}
p {
  color: var(--text-muted);
  line-height: 1.6;
}

/*LINKS */
a {
  font-weight: 600;
  color: var(--primary);
  text-decoration: none;
  transition: color 0.3s ease;
}
a:hover {
  color: var(--primary-hover);
}

/*BUTTONS*/
button {
  border-radius: 10px;
  border: 2px solid var(--primary);
  padding: 0.7em 1.4em;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
button:hover {
  background-color: var(--primary);
  border-color: var(--primary-hover);
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(255, 106, 0, 0.35);
}
button:focus,
button:focus-visible {
  outline: none;
}

/*SECTIONS*/
.section {
  padding: 4rem 8%;
}
.card {
  background-color: var(--bg-dark);
  border-radius: 16px;
  padding: 2rem;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.6);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 25px 60px rgba(255, 106, 0, 0.15);
}

body, .card, section, a, button, h1, h2, h3, h4, p {
  transition: background-color 0.3s ease,
              color 0.3s ease,
              box-shadow 0.3s ease;
}
