* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  animation: wave 20s linear infinite;
}
@keyframes wave {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}
.dark-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: linear-gradient(
    to right,
    #0f202700,
    #203a4300
  );
}
.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo-img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
.logo-text {
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
}
.dark-nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}
.dark-nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: transform 0.25s ease, color 0.25s ease;
}
.dark-nav a:hover {
  transform: translateY(-5px);
  color: #4a90e2;
}
.header {
  height: 300px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
section {
  background-color: #2524245d;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  display: block;
  opacity: 1;
  transition: opacity 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}
section:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.5);
}
h2 {
  color: white;
  margin-bottom: 10px;
}

.contact {
  max-width: 500px;
  margin: 40px auto;
  background: #1e1e1edc;
  padding: 30px;
  border-radius: 15px;
}
.contact h2 {
  text-align: center;
}
.contact-desc {
  text-align: center;
  font-size: 14px;
  color: #aaa;
  margin-bottom: 20px;
}
.input-group {
  position: relative;
  margin-bottom: 20px;
}
.input-group input,
.input-group textarea {
  width: 100%;
  padding: 12px;
  background: transparent;
  border: 1px solid #444;
  border-radius: 8px;
  color: white;
  outline: none;
  font-size: 14px;
}
.input-group label {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #777;
  pointer-events: none;
  transition: 0.3s;
  padding: 0 5px;
}
.input-group input:focus + label,
.input-group input:valid + label,
.input-group textarea:focus + label,
.input-group textarea:valid + label {
  top: -8px;
  font-size: 12px;
  color: #4a90e2;
}
.contact button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #4a91e2ac;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 5px 15px rgba(74,144,226,0.4);
}
.contact button:hover {
  background: #357abd;
  transform: scale(1.03);
}
.contact button:active {
 transform: scale(1.03);
}

.Photo {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.Photo img {
  width: 200px;
  height: 90px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}
.Photo img:hover {
  transform: scale(1.6);
  z-index: 10;
}
footer {
  text-align: center;
  padding: 15px;
  background-color: #ddd;
  color: #000;
}

.dark-nav a.active {
  color: #4a90e2;
  border-bottom: 2px solid #4a90e2;
  padding-bottom: 4px;
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer p{
    text-align: center;
}
.whatsapp-bouton{
  display: block;
  margin-top: 15px;
  text-align: center;
  padding: 12px;
  background: #25d3659f;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
}
.whatsapp-bouton:hover{
  background: #1ebe5d;
  transform: scale(1.03);
}

.success-message,
.error-message {
  display: none;
  margin-top: 15px;
  padding: 12px;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
}
.success-message {
  background: #2ecc7092;
  color: white;
}
.error-message {
  background: #e74d3c88;
  color: white;
}
.show {
  display: block;
}


.services {
  padding: 60px 20px;
  text-align: center;
}
.services-title {
  font-size: 34px;
  margin-bottom: 50px;
}
.services-grid {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}
.service-card {
  background: #1e1e1eb3;
  color: #fff;
  width: 330px;
  border-radius: 20px;
  padding: 30px 25px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.15);
  text-align: center;
  position: relative;
}
.service-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 20px;
}
.tag {
  font-size: 12px;
  color: #777;
  letter-spacing: 1px;
}
.service-card h3 {
  font-size: 26px;
  margin: 10px 0;
}
.subtitle {
  font-size: 14px;
  color: #666;
}
.price {
  font-size: 34px;
  font-weight: bold;
  margin: 20px 0;
}
.price small {
  font-size: 14px;
  font-weight: normal;
}
.service-btn {
  display: inline-block;
  padding: 12px 28px;
  border-radius: 30px;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 25px;
}
.service-btn.light {
  background: #f1f1f1;
  color: #000;
   transition: transform 0.35s ease, box-shadow 0.35s ease;
}
.service-btn.light:hover{
   transform: translateY(-12px);
   box-shadow: 0 25px 60px rgba(0,0,0,0.25);
}
.service-btn.dark {
  background: #000;
  color: #fff;
   transition: transform 0.35s ease, box-shadow 0.35s ease;
}
.service-btn.dark:hover {
 transform: translateY(-12px);
  box-shadow: 0 25px 60px rgba(0,0,0,0.25);
}
.service-btn.gradient {
  background: linear-gradient(90deg, #f0c000, #f09819);
  color: #fff;
  transition: transform 0.35s ease, box-shadow 0.35s ease;
}
.service-btn.gradient:hover{
  transform: translateY(-12px);
  box-shadow: 0 25px 60px rgba(0,0,0,0.25);
}
.service-card ul {
  list-style: none;
  padding: 0;
  text-align: left;
}
.service-card ul li {
  margin-bottom: 10px;
}
.featured {
  border: 2px solid #000;
}

.service-card {
  transition: transform 0.35s ease, box-shadow 0.35s ease;
}
.service-card:hover {
  transform: translateY(-12px);
  box-shadow: 0 25px 60px rgba(0,0,0,0.25);
}
.service-card img {
  transition: transform 0.5s ease;
}
.service-card:hover img {
  transform: scale(1.08);
}

.service-card.featured .recommended {
  position: absolute;
  top: -12px;
  right: 20px;
  background: #000;
  color: #fff;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
}

body.light {
  color: #000000;
}
body.light section {
  background: #ffffff6e;
  color: #00000098;
}
body.light .dark-nav {
  background: rgba(255, 255, 255, 0);
}
body.light .dark-nav a {
  color: #000;
}
body.light footer {
  background: #eee;
  color: #000;
}
.theme-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}


body.light {
  color:black;
}
body.light h1,
body.light h2,
body.light h3,
body.light p,
body.light li,
body.light span {
  color: #000;
}
body.light section {
  background: #ffffff76;
}
body.light .subtitle {
  color: #555;
}
body.light .service-card {
  background: #ffffff77;
  color: #000;
}

.testimonial-card {
  background: #11111180;
  color: #ffffff76;
  padding: 30px 20px;
  border-radius: 18px;
  text-align: center;
  transition: 0.3s;
}
.testimonial-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.5);
}
.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  border: 3px solid #e7a200;
}
.stars {
  color: gold;
  font-size: 18px;
  margin: 10px 0;
}
.testimonial-card span {
  font-weight: bold;
  color: #d97000;
}
body.light .testimonial-card {
  background: #ffffff56;
  color: #00000000;
}
body.light .avatar {
  border-color: #d40000;
}


.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.modal-box {
  background: white;
  color: black;
  padding: 25px;
  width: 90%;
  max-width: 400px;
  border-radius: 12px;
  position: relative;
}
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 22px;
  cursor: pointer;
}

